<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Intro</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
</head>

<body>

	<div class="layout-header">
		<div class="conteiner">
			<div class="layout-header--logo">Spring</div>
			<div class="layout-header--menu">
				<ul>
					<li class="layout-header--menu_item"><a href="#">Inicio</a></li>
					<li class="layout-header--menu_item"><a href="#">Sobre</a></li>
					<li class="layout-header--menu_item"><a href="#">Contato</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	
	<div class="layout-conteudo">
		<div class="conteiner">			
			<h1 class="layout-conteudo--titulo">Introdução ao Spring MVC</h1>
			
			<div class="layout-conteudo--components">
				<form method="POST" action="/index" >
				
					<div class="table-row">
						<div class="layout-conteudo--components_div left">
							<label class="layout-conteudo--components_form">Nome:</label>
							<input class="layout-conteudo--components_form input" type="text" name="nome"/>
						</div>					
						<div class="layout-conteudo--components_div right">
							<label class="layout-conteudo--components_form">Sobre nome:</label>
							<input class="layout-conteudo--components_form input" type="text" name="sobreNome"/>
						</div>
					</div>
					
					<div class="table-row">
						<div class="layout-conteudo--components_div left">
							<label class="layout-conteudo--components_form">Email:</label>
							<input class="layout-conteudo--components_form input" type="text" name="email"/>
						</div>					
						<div class="layout-conteudo--components_div right">
							<label class="layout-conteudo--components_form">Telefone:</label>
							<input class="layout-conteudo--components_form input" type="text" name="telefone"/>
						</div>
					</div>
					
					<div class="table-row">
						<div class="layout-conteudo--components_div left">
							<label class="layout-conteudo--components_form">Valor Pagamento:</label>
							<input class="layout-conteudo--components_form input" type="text" name="valor"/>
						</div>						
					</div>
					
					<div class="table-row">
						<div class="layout-conteudo--components_div right">
							<button class="btn" type="submit">Cadastrar</button>							
						</div>
					</div>
								
				</form>
			</div>
		
		</div>
	</div>

</body>
</html>


